{% extends "layout.html" %}

<title>LyrFreq - Authors Aggregate Graph Page (visible to those logged in)</title>

{% block body %}

{% for err in errors %}
  <div class="col-auto">
    <strong>{{ err }}</strong>
  </div>
{% endfor %}

{% if (not graph_en and not graph_fi and not graph_fr) or (not table_en and not table_fi and not table_fr) %}

  <!-- IF DATABASE IS EMPTY -->
  <strong id="big-strong">Database is empty</strong>
  
{% else %}

  <form method="POST" action="{{ url_for('authors_graph') }}">
    <div class="col-auto">

      {% if g.user.role != "GUEST" %}
      <button class="btn btn-sm btn-danger" type="submit" style="width: 140px; float: right; margin-left: 20px;" name="save" id="save" value="{{ filtered }},{{ graphs }}" action="/authors/show/<author_id>/<type>/<lang>">Save To Database</button>
      {% endif %}

      {% if filtered == False %}
        <button class="btn btn-sm btn-success" type="submit" style="width: 140px; float: right;" name="filter" id="filter" value="{{ filtered }},{{ graphs }}" action="/authors/graph">Filter Stopwords</button>
      {% else %}
        <button class="btn btn-sm btn-warning" type="submit" style="width: 140px; float: right;" name="filter" id="filter" value="{{ filtered }},{{ graphs }}" action="/authors/graph">Include Stopwords</button>
      {% endif %}
	  <br><br>


      {% if graph_en and graph_fi and graph_fr %}

        <!-- FREQUENCY BAR CHART -->
        <center>
          <div class="wrapper">
            <canvas id="myChartEn" width="500" height="300"></canvas>
          </div>
        </center>
		<br>
        <center>
          <div class="wrapper">
            <canvas id="myChartFi" width="500" height="300"></canvas>
          </div>
        </center>
		<br>
        <center>
          <div class="wrapper">
            <canvas id="myChartFr" width="500" height="300"></canvas>
          </div>
        </center>
		<br><br>
  
      {% endif %}


      {% if table_en and table_fi and table_fr %}

        <!-- HIDDEN FREQUENCY TABLES AND BUTTON -->
		<label for="freqtab">Show/Hide Frequency Tables:</label>
        <div class="d-flex justify-content-around">
          <input id="freqtab" class="btn btn-sm btn-primary" type="button" value="English" onClick="showHideDiv('freqtablesEN')" style="width: 100px;"></input>
		  <input id="freqtab" class="btn btn-sm btn-primary" type="button" value="Finnish" onClick="showHideDiv('freqtablesFI')" style="width: 100px;"></input>
		  <input id="freqtab" class="btn btn-sm btn-primary" type="button" value="French" onClick="showHideDiv('freqtablesFR')" style="width: 100px;"></input>
        </div><br><br>

        <div id="freqtablesEN" style="display: none" class="container-fluid">
        
          <h3>Frequencies
            <small class="text-muted">(top 5), english</small>
          </h3><br>

          <div id="frequencies" class="container">
            <table class="table">
            <tbody>
            {% for res in table_en %}
              <tr>
                <th>Author:</th><td colspan="6">{{ res[0] }}</td>
              </tr>
              <tr>
              <tr>
              <tr>
			    <th>Word:</th>
                {% for y in res[1] %}
                  <td>{{ y[0] }}</td>
                {% endfor %}
              </tr>
			    <th>Count:</th>
                {% for x in res[1] %}
                  <td>{{ x[1] }}</td>
                {% endfor %}
              </tr>

              </tr>
			  <tr><td colspan="6"></td></tr>
            {% endfor %}
            </tbody>
            </table><br>
		  </div>
		</div>

        <div id="freqtablesFI" style="display: none" class="container-fluid">
        
          <h3>Frequencies
            <small class="text-muted">(top 5), finnish</small>
          </h3><br>

          <div id="frequencies" class="container">
            <table class="table">
            <tbody>
            {% for res in table_fi %}
              <tr>
                <th>Author:</th><td colspan="6">{{ res[0] }}</td>
              </tr>
              <tr>
              <tr>
              <tr>
			    <th>Word:</th>
                {% for y in res[1] %}
                  <td>{{ y[0] }}</td>
                {% endfor %}
              </tr>
			    <th>Count:</th>
                {% for x in res[1] %}
                  <td>{{ x[1] }}</td>
                {% endfor %}
              </tr>

              </tr>
			  <tr><td colspan="6"></td></tr>
            {% endfor %}
            </tbody>
            </table><br>
		  </div>
		</div>

        <div id="freqtablesFR" style="display: none" class="container-fluid">
        
          <h3>Frequencies
            <small class="text-muted">(top 5), french</small>
          </h3><br>

          <div id="frequencies" class="container">
            <table class="table">
            <tbody>
            {% for res in table_fr %}
              <tr>
                <th>Author:</th><td colspan="6">{{ res[0] }}</td>
              </tr>
              <tr>
              <tr>
              <tr>
			    <th>Word:</th>
                {% for y in res[1] %}
                  <td>{{ y[0] }}</td>
                {% endfor %}
              </tr>
			    <th>Count:</th>
                {% for x in res[1] %}
                  <td>{{ x[1] }}</td>
                {% endfor %}
              </tr>

              </tr>
			  <tr><td colspan="6"></td></tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
	    <br><br>

      {% endif %}


        <!-- JAVASCRIPTS FOR BARCHARTS -->
        <script>
          var ctxEn = document.getElementById('myChartEn').getContext('2d');
          var ctxFi = document.getElementById('myChartFi').getContext('2d');
          var ctxFr = document.getElementById('myChartFr').getContext('2d');
          var myChartEn = new Chart(ctxEn, {
            type: 'bar',
            data: {
              labels: [{% for lab in graph_en %}
                        "{{ lab[0] }}",
                      {% endfor %}],
              datasets: [{
                label: '',
                  data: [{% for freq in graph_en %}
                        {{ freq[1] }},
                      {% endfor %}],
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(57, 93, 162, 0.2)',
                'rgba(102, 189, 55, 0.2)',
                'rgba(241, 115, 195, 0.2)',
                'rgba(187, 121, 67, 0.2)'
                ],
                borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(57, 93, 162, 1)',
                'rgba(102, 189, 55, 1)',
                'rgba(241, 115, 195, 1)',
                'rgba(187, 121, 67, 1)'
                ],
                borderWidth: 1
              }]
            },
            options: {
            legend: {
                display: false
                },
            title: {
                display: true,
                fontSize: 16,
                text: 'Top 10 Word Frequencies in English Authors\' Song(s)'
                },
            scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
            }
          }
          });
          var myChartFi = new Chart(ctxFi, {
            type: 'bar',
            data: {
              labels: [{% for lab in graph_fi %}
                        "{{ lab[0] }}",
                      {% endfor %}],
              datasets: [{
                label: '',
                  data: [{% for freq in graph_fi %}
                        {{ freq[1] }},
                      {% endfor %}],
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(57, 93, 162, 0.2)',
                'rgba(102, 189, 55, 0.2)',
                'rgba(241, 115, 195, 0.2)',
                'rgba(187, 121, 67, 0.2)'
                ],
                borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(57, 93, 162, 1)',
                'rgba(102, 189, 55, 1)',
                'rgba(241, 115, 195, 1)',
                'rgba(187, 121, 67, 1)'
                ],
                borderWidth: 1
              }]
            },
            options: {
            legend: {
                display: false
                },
            title: {
                display: true,
                fontSize: 16,
                text: 'Top 10 Word Frequencies in Finnish Authors\' Song(s)'
                },
            scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
            }
          }
          });
          var myChartFr = new Chart(ctxFr, {
            type: 'bar',
            data: {
              labels: [{% for lab in graph_fr %}
                        "{{ lab[0] }}",
                      {% endfor %}],
              datasets: [{
                label: '',
                  data: [{% for freq in graph_fr %}
                        {{ freq[1] }},
                      {% endfor %}],
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(57, 93, 162, 0.2)',
                'rgba(102, 189, 55, 0.2)',
                'rgba(241, 115, 195, 0.2)',
                'rgba(187, 121, 67, 0.2)'
                ],
                borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(57, 93, 162, 1)',
                'rgba(102, 189, 55, 1)',
                'rgba(241, 115, 195, 1)',
                'rgba(187, 121, 67, 1)'
                ],
                borderWidth: 1
              }]
            },
            options: {
            legend: {
                display: false
                },
            title: {
                display: true,
                fontSize: 16,
                text: 'Top 10 Word Frequencies in French Authors\' Song(s)'
                },
            scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
            }
          }
          });
        </script>
	    
    </div>
  </form>

{% endif %}

{% endblock %}