{% extends "layout.html" %}

<title>LyrFreq - Author Listing Page</title>

{% block body %}

<h1>Authors</h1><br>

{% if not authors or authors is not defined %}

  <!-- IF DATABASE IS EMPTY -->
  <strong id="big-strong">Database is empty</strong>

{% else %}
<table>
  <tr>
    <th>Author</th>
    <th>songs
      <small class="text-muted">&nbsp;(separated with &nbsp;;&nbsp;)</small>
    </th>
    <th>lang</th>
  </tr>
  {% for author in authors %}
    <tr>
      <td style="padding-right: 10px;">
	    <a href="{{ url_for('authors_show', author_id=author.id) }}">{{ author.author }}</a>
      </td>
      <td>{{ author.songs }}</td>
      <td style="padding-left: 10px;">{{ author.language[:2]|upper }}</td>
    </tr>
  {% endfor %}
</table><br>

{% endif %}

{% endblock %}
