{% extends "layout.html" %}

<title>LyrFreq - Index Page (visible to all, no login required)</title>

{% block body %}

  <h1>Lyrics Frequency Analyzer</h1>

  <p class="lead">
    Analyze songs' word frequencies.
	
    <hr />
	
    Default user roles are 'admin' and 'guest'.<br>
	
    You may play with admin and guest accounts and 	see what they are able to do.<br><br>
	
    <li>username: admin, password: admin (full access, except users' own songs)</li>
    <li>username: guest, password: guest (restricted access to viewing songs and make word searches)</li>
    <li>user via registration (restricted access to viewing, creating, and editing songs, making word searches and storing them to database)</li><br>
	
	
    If you start the app for the first time, there are no songs
    in the database.
    At that point you can add your own songs or
    a small bunch of default songs.<br>

    Default songs can be added when you login as admin.
    Then you will see a button in the lower right side of the window
    (<em>Add default songs</em>) with which the songs and authors will be filled into the database.<br>

    You may also create your own account via registration (create account).<br><br>

	At the moment this application only holds copyright free religious
	lyrics, because this a university course project.
    
  </p>

{% endblock %}
