{% extends "layout.html" %}

{% block body %}

  <h1>
    Lyrics Frequency Analysator
  </h1>

  <p class="lead">
    Analyze songs' word frequencies.
	
    <hr />
	
    Default user roles are 'admin' and 'guest'.<br>
	
    You may play with admin and guest accounts and 	see what they are able to do.<br><br>
	
    <li>username: admin, password: admin</li>
    <li>username: guest, password: guest</li><br>
	
	
    If you start the app for the first time, there are no songs
    in the database.
    At that point you can add your own songs or
    a small bunch of default songs.<br>

    Default songs can be added when you login as admin.
    Then you will see a button in the lower right side of the window
    (<em>Add default songs</em>) with which the songs and authors will be filled into the database.<br>

    You may also create your own account via registration (create account).<br>
	
    At the moment you are able to create, edit, and delete songs, sort them, and make quick word searches, which
    give you basic frequency analyses.
  </p>

  {% if stats is defined %}
    <div class="col-sm-10 col-sm-offset-1">
      <div id="averages">
        <strong>
          Database status
        </strong>
        {% for stat in stats %}
          <table class="table table-striped" style="max-width: 300px;">
            <thead>
              <tr>
                <th>Songs</th>
                <th>Authors</th>
                <th>Languages</th>
                <th>Matches</th>
              </tr>
            </thead>
            <tr>
              <td>{{ stat[0] }}</td>
              <td>{{ stat[1] }}</td>
              <td>{{ stat[2] }}</td>
              <td>{{ stat[3] }}</td>
            </tr>
          </table><br>
        {% endfor %}
      </div>
  {% endif %}

{% endblock %}Hakutulokset
