{% extends "layout.html" %}

<title>LyrFreq - Info Page</title>

{% block body %}

    <h1>About the application</h1>
	
    <hr />
  
    This application is a simple analysis tool which could be applied to, for example, lingvistics, sociolingvistics, literary studies, literary theory, and whatnot. It may help with characterizing either lyrics or its author. The application is ment for analyzing poems, stories, and all sorts of textual material that is deemed literature, not excluding scientific, philosophical or historical material.<br><br>
	
	With statistical textual analysis one can better understand author's character, intentions, idiolect, mood, and many other factors that may help to construct a fuller view of the area of study. Or it can be used for sosiolingvistical study of social media messages to analyze ethnicity, religion, status, gender, level of education, age, etc. Words that we speak or write down tell one thing about us. Yet still the explicitly written textual content doesn't always reveal everything - sometimes we may infer more from reading between the lines, or from statistical analysis.<br><br>

	For example, it has long been a mystery whether famous Old English epic poem <em>Beowulf</em> was composed by a single author or if it was stiched together from many textual sources [<a href="https://www.theguardian.com/books/2019/apr/08/beowulf-old-english-poem-work-one-author-research-suggests" data-toggle="tooltip" data-placement="top" title="Beowulf the work of single author, research suggests">Guardian</a>][<a href="https://news.harvard.edu/gazette/story/2019/04/did-beowulf-have-one-author-researchers-find-clues-in-stylometry/" data-toggle="tooltip" data-placement="top" title="Breaking down 'Beowulf'">The Harvard Gazette</a>].
	
	Recently an academic research team analyzed Beowulf statistically with a computer program and came to a conclusion that Beowulf was written by one author [<a href="https://doi.org/10.1038/s41562-019-0570-1" data-toggle="tooltip" data-placement="top" title="Large-scale quantitative profiling of the Old English verse tradition">Nature</a>]. The program is written in Python and is freely and publicly available at <a href="https://github.com/qcrit" data-toggle="tooltip" data-placement="top" title="Quantitative Criticism Lab">GitHub</a>.<br><br>
	
	For the moment this application only holds copyright free religious
	lyrics. The final purpose for the application is not set as yet, because this is a study project at the <em><a href="https://courses.helsinki.fi/en/tkt20011/135568662" data-toggle="tooltip" data-placement="top" title="Intermediate Studies Project: Database Application">University of Helsinki</a></em>.
	
	<hr />
	
	My personal motivation to create this application was due to learning a new language. I started studying chinese with the help of listening to chinese pop music. At start it is very hard to listen and distinguish words, not to mention the messages in the songs. I decided to create this app so that I could load a lot of chinese songs into it. Then I could find, for instance, the 10 to 20 most used words in them and learn them by heart. This way I would know <em>almost everything</em> what the songs are saying, and could infer the rest by myself.
    
  </p>

{% endblock %}
