<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
    <head>
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
      <title>LyrFreq</title>
	  
	  <!-- Bootstrap CSS -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  
	  <link rel="stylesheet" href=" jquery-ui-1.10.3.custom/css/le-frog/jquery-ui-1.10.3.custom.min.css" />
	  <!-- -->
	
	  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />
	  
	  <!-- CSS -->
	  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	  
    </head>

    <body>
	<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
		  <div class="alert alert-{{ category }} alert-dismissible" role="alert" id="alert">
			<span>{{ message }}</span>
		  </div>
        {% endfor %}
      {% endif %}
	{% endwith %}
	</div>
	
	<div class="container-fluid">
      <nav class="navbar navbar-default navbar-static-top navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="{{ url_for('songs_main') }}"> Home </a>
        <a class="navbar-brand-middle text-light" href="{{ navbar_link }}"><h2>{{ navbar_otsikko }}</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggler" aria-controls="toggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggler">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('songs_index') }}">List songs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('songs_new') }}">Add a song</a>
            </li>
          </ul>

        </div>
      </nav>

      {% block body %}
      <p>
		Tähän tuodaan sisältö muualta.
      </p>
      {% endblock %}

	</div>

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- JS 
	<script src="{{ url_for('static', filename='scripts.js') }}"></script>-->
	
	<!-- message timeout -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function(){
		$(".alert").delay(2000).slideUp(300);
	});
	</script>

    </body>
    
  </html>