<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
    <head>
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
      <title>LyrFreq</title>
	  
	  <!-- Bootstrap CSS -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	  
	  <!-- CSS -->
	  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

	  <!-- 
	
	  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />
	  
	  -->
	  
    </head>

    <body>
	<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
		  <div class="alert alert-{{ category }} alert-dismissible" role="alert" id="alert">
			<span>{{ message }}</span>
		  </div>
        {% endfor %}
      {% endif %}
	{% endwith %}
	</div>
	<div class="container-fluid">
      <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark" style="background-color: #7d1c09;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggler" aria-controls="toggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
		<form class="form-inline">
		  <div class="input-group">
		    <div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1">@</span>
		    </div>
		    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
		  </div>
	    </form>
        <a class="navbar-brand" href="{{ url_for('songs_main') }}">
		  <img src="{{url_for('static', filename='images/brandlogo.png')}}" width="80" height="30" class="d-inline-block align-top image-responsive myLogo" alt="">
		</a>

        <div class="collapse navbar-collapse" id="toggler">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" class="col-lg-2" href="{{ url_for('songs_index') }}">List songs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('songs_new') }}">Add a song</a>
            </li>
          </ul>
		  
		  <nav class="navbar navbar-dark justify-content-between" style="background-color: #470500;">
			<a class="navbar-brand">Search song by name:</a>
			  <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			  </form>
		  </nav>
        </div>
      </nav>

      <p>
	    <div class="jumbotron jumbotron-fluid">
		  <div class="container">
			{% block body %}
			  <h1 class="display-4">
				Fluid jumbotron
			  </h1>
			  <p class="lead">
			    This is a modified jumbotron that occupies the entire horizontal space of its parent.
			  </p>
			{% endblock %}
		  </div>
		</div>
      </p>

	</div>

	<!-- Bootstrap 4.5.0 -->
    <!-- jQuery, Popper.js, and JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	<!-- JS -->
	<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
	
	<!-- message timeout -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function(){
		$(".alert").delay(3000).slideUp(300);
	});
	</script>

    </body>
    
  </html>