{% extends "layout.html" %}

{% block body %}

    <p>
	  <form method="POST" action="{{ url_for('songs_edit', song_id=song.id) }}">
	    <div class="col-auto">
		  <button class="btn btn-primary" id="Back" type="submit" name="Back" value="Back" type="text"/>Back</button>

		  <button class="btn btn-primary" id="Submit" type="submit" name="Submit" value="Submit"/>Submit</button>
		</div>
	    <div class="col-auto">
		  <label for="name" class="col-sm-2 col-form-label">Title:</label>
	      <textarea class="form-control text-left" id="name" name="name" type="text">
{{ song.name }}
		  </textarea>
		</div>
	    <div class="col-auto">
		  <label for="author" class="col-sm-2 col-form-label">Author(s):</label>
		  <textarea class="form-control text-left" id="author" name="author" type="text">
{{ song.author }}
		  </textarea>
		</div>
	    <div class="col-auto">
		  <label for="text" class="col-sm-2 col-form-label">Lyrics:</label>
		  <textarea class="form-control text-left" id="text" name="text" type="text">
{{ song.text }}
		  </textarea>
		</div>
	  </form>
    </p>
{% endblock %}

