{% extends "layout.html" %}

<title>LyrFreq - Songs Home Page (visible to those logged in)</title>

{{ error }}
{% block body %}
  <form method="POST" action="{{ url_for('songs_home') }}">

    <div class="col-auto">
      <button class="btn btn-sm btn-primary" type="submit" name="ListSongs" style="width:100px; float: left;" value="ListSongs"/>List Songs</button>
    </div>

    <div class="col-auto">
      <button class="btn btn-sm btn-primary" type="submit" name="ListAuthors" style="width:100px; float: right;" value="ListAuthors"/>List Authors</button>
    </div>

  </form>
{% endblock %}