{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th style="text-align: left;">Songs</th>
    </tr>
    {% for song in songs %}
    <tr>
      <td>{{ song.id }}.  {{ song.name }}</td>
	  <td>
		<form method="POST" action="{{ url_for('songs_show', song_id=song.id) }}">
		  <input type="submit" name="Show" value="Show Lyrics"/>
		</form>
      </td>
	  <td>
	    <form method="POST" action="{{ url_for('songs_edit', song_id=song.id) }}">
		  <input type="hidden" name="song_id" value="{{ song.id }}">
		  <input type="submit" name="Edit" value="Edit"/>
		</form>
      </td>
	  <td>
	    <form method="POST" action="{{ url_for('songs_delete', song_id=song.id) }}">
		  <input type="hidden" name="song_id" value="{{ song.id }}">
		  <input type="submit" name="Delete" value="Delete"/>
		</form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
