{% extends "layout.html" %}

{% block body %}
  <p>
    <table>
      <tr>
        <th style="text-align: left;">Songs</th>
      </tr>
    {% for song in songs %}
      <tr>
        <td>{{ song.id }}.  {{ song.title }}</td>
	    <td>
		  <form method="POST" action="{{ url_for('songs_show', song_id=song.id) }}">
		    <div class="col-auto">
		      <button class="btn btn-primary" type="submit" name="Show" value="Show" type="text"/>Show Lyrics</button>
		    </div>
		  </form>
        </td>
	    <td>
	      <form method="POST" action="{{ url_for('songs_editing', song_id=song.id) }}">
		    <input type="hidden" name="song_id" value="{{ song.id }}">
		    <div class="col-auto">
		      <button class="btn btn-primary" type="submit" name="Edit" value="Edit" type="text"/>Edit</button>
		    </div>
		  </form>
        </td>
	    <td>
	      <form method="POST" action="{{ url_for('songs_delete', song_id=song.id) }}">
		    <input type="hidden" name="song_id" value="{{ song.id }}">
		    <div class="col-auto">
		      <button class="btn btn-primary" type="submit" name="Delete" value="Delete" type="text"/> Delete</button>
		    </div>
		  </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </p>
{% endblock %}
