{% extends "layout.html" %}
  
{% block body %}
    <p>
	  <form method="POST" action="{{ url_for('song_create') }}">
	    <div class="col-auto">
		  <button class="btn btn-primary myFloat_Left" id="Back" type="submit" name="Back" value="Back"/>Back</button>

		  <button class="btn btn-primary myFloat_Right" id="Submit" type="submit" name="Submit" value="Add a new song"/>Submit</button>

		  <div style="clear: both;"></div>
		</div>

	    <div class="col-auto">
		  <label for="name" class="col-sm-2 col-form-label">Title:</label>
	      <textarea class="form-control text-left" id="name" name="name" type="text">
		  </textarea>
		</div>
	    <div class="col-auto">
		  <label for="author" class="col-sm-2 col-form-label">Author(s):</label>
		  <textarea class="form-control text-left" id="author" name="author" type="text">
		  </textarea>
		</div>
	    <div class="col-auto">
		  <label for="text" class="col-sm-2 col-form-label">Lyrics:</label>
		  <textarea class="form-control text-left" id="text" name="text" type="text">
		  </textarea>
		</div>
	  </form>
    </p>
{% endblock %}