{% extends "layout.html" %}

{{ error }}
{% block body %}

    {% for err in error %}
      <strong>{{ err }}</strong>
    {% endfor %}
    
    {% if db_status is defined and db_status is not none %}
      <strong style="font-size: 25px;">Database status</strong>
      <div id="index">
        <table class="table table-striped" style="max-width: 900px;">
          <thead>
            <tr>
              <th>Languages</th>
              <th style="text-align: center;">Songs</th>
              <th style="text-align: center;">Authors</th>
            </tr>
          </thead>
          {% for res in db_status %}
            <tr>
              <td>{{ res.languages }}</td>
              <td style="text-align: center;">{{ res.songs }}</td>
              <td style="text-align: center;">{{ res.authors }}</td>
            </tr>
          {% endfor %}
        </table>
      </div><br><br>
	{% else %}
	  <strong style="font-size: 25px;">Song database is empty</strong>
    {% endif %}
    
    {% if top_words is defined and top_words is not none and not g.user.admin %}
      <strong style="font-size: 25px;">TOP 5 search words
	  </strong>
        <div id="averages">
          <table class="table table-striped" style="max-width: 1000px;">
            <thead>
              <tr>
                <th>Word</th>
                <th style="text-align: center;">Matches</th>
                <th style="text-align: center;">Songs</th>
                <th style="text-align: center;">Avg</th>
              </tr>
            </thead>
            {% for res in top_words %}
              <tr>
                <td>{{ res[0] }}</td>
                <td style="text-align: center;">{{ res[2] }}</td>
                <td style="text-align: center;">{{ res[1] }}</td>
                <td style="text-align: center;">{{ '%0.1f'| format(res[3]|float) }}</td>
              </tr>
            {% endfor %}
          </table><br>
        </div>
      {% endif %}

{% endblock %}