{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
  <thead>

	<tr>
      <th>
	    <button class="btn btn-primary myFloat_Left" type="submit" name="Back" style="width:75px;" value="Back"/>Cancel</button>
      </th>
	  <th style="width:200px;"></th>

      <th rowspan="4" style="width:35px;"> or </th>
	  <th></th>
	</tr>

	<tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>

	  <td rowspan="2">
	    <button class="btn btn-primary" type="submit" name="Guest" style="width:100px;" value="Guest"/>Login as guest</button>
	  </td>
    </tr>

    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
	  </td>
    </tr>

    <tr>
      <td>
	    <button class="btn btn-primary myFloat_Left" type="submit" name="Login" style="width:75px;" value="Login"/>Login</button>
      </td>
	</tr>

  </thead>
  </table>
</form>
{% endblock %}