{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
	<tr>
      <td colspan="2">
	    <button class="btn btn-primary myFloat_Left" type="submit" name="Back" style="width:75px;" value="Back"/>Cancel</button>
      </td>
	</tr>
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
	  </td>
    </tr>
    <tr>
      <td colspan="2">
	    <button class="btn btn-primary myFloat_Left" type="submit" name="Show" style="width:75px;" value="Login"/>Login</button>
      </td>
    </tr>
</form>
{% endblock %}