{% extends "layout.html" %}
{% from "formhelpers.html" import render_field %}

<title>LyrFreq - Create Account Page</title>
  
{% block body %}
<strong>{{ error }}</strong>

  <h2>Create account </h2>

  <form method="POST" class="form-horizontal">
  <dl>
    {{ render_field(form.name,autofocus=true, placeholder="Enter Full Name") }}
    {{ render_field(form.username, placeholder="Enter Username") }}
    {{ render_field(form.password, placeholder="Enter Password") }} 
    {{ render_field(form.confirm, placeholder="Enter Password Again") }}
  </dl>
  <p><input type="submit" value="Register">
  </form>
{% endblock %}