{% extends "layout.html" %}
{% from "formhelpers.html" import render_field %}

<title>LyrFreq - Create Account Page</title>
  
{% block body %}
<strong>{{ error }}</strong>

  <h2>Create account </h2>

  <form method="POST" class="form-horizontal">
  <dl>
    {{ render_field(form.name,autofocus=true) }}
    {{ render_field(form.username, placeholder="max 25 characters") }}
    {{ render_field(form.password, placeholder="min 4, max 10 characters") }} 
    {{ render_field(form.confirm) }}
  </dl>
  <p><input type="submit" value="Register">
  </form>
{% endblock %}