{% extends "layout.html" %}

<title>LyrFreq - Stats Page</title>

{% block body %}

<h1>Statistics</h1><br>

{% for err in errors %}
  <strong id="big-strong">{{ err }}</strong>
{% endfor %}

{% if db_songs_status is none and db_poems_status is none %}

  <!-- IF DATABASE IS EMPTY -->
  <strong id="big-strong">Database is empty</strong>

{% else %}
  {% if db_songs_status is not none %}
    <strong id="big-strong">Database songs status</strong>
    <div id="index">
      <table class="table table-striped" style="max-width: 900px;">
      <thead>
        <tr>
          <th>Languages</th>
          <th id="home-col">Songs</th>
          <th id="home-col">Authors</th>
        </tr>
      </thead>
      {% for res in db_songs_status %}
        <tr>
          <td>{{ res.languages }}</td>
          <td id="home-col">{{ res.songs }}</td>
          <td id="home-col">{{ res.authors }}</td>
        </tr>
      {% endfor %}
      </table>
    </div><br>
  {% endif %}
  {% if db_poems_status is not none %}
    <strong id="big-strong">Database poems status</strong>
    <div id="index">
      <table class="table table-striped" style="max-width: 900px;">
      <thead>
        <tr>
          <th>Languages</th>
          <th id="home-col">Poems</th>
          <th id="home-col">Poets</th>
        </tr>
      </thead>
      {% for res in db_poems_status %}
        <tr>
          <td>{{ res.languages }}</td>
          <td id="home-col">{{ res.poems }}</td>
          <td id="home-col">{{ res.poets }}</td>
        </tr>
      {% endfor %}
      </table>
    </div><br>
  {% endif %}
{% endif %}

{% if (top_words or top_words is not defined) and g.user.role != 'ADMIN' %}
  <strong id="big-strong">TOP 5 search words</strong>
  <div id="averages">
    <table class="table table-striped" style="max-width: 1000px;">
    <thead>
      <tr>
        <th>Word</th>
        <th id="home-col">Matches</th>
        <th id="home-col">Songs</th>
        <th id="home-col">Avg</th>
      </tr>
    </thead>
    {% for res in top_words %}
      <tr>
        <td>{{ res[0] }}</td>
        <td id="home-col">{{ res[2] }}</td>
        <td id="home-col">{{ res[1] }}</td>
        <td id="home-col">{{ res[3] }}</td>
      </tr>
    {% endfor %}
    </table><br>
  </div>
{% endif %}

{% endblock %}