{% extends "layout.html" %}

<title>LyrFreq - Stats Page</title>

{% block body %}

<h1>Statistics</h1>

{% for err in errors %}
  <strong>{{ err }}</strong><br>
{% endfor %}<br>

<!-- PROGRESSBAR FOR ADDING SONGS OR POEMS - ADMIN ONLY -->
{% if g.user.role == 1 and load != 'na' %}
  {% if load == 'poem' %}
    <script>
      var source_poems = new EventSource("/progress_poems");
      source_poems.onmessage = function(event) {
        if (!event){
          source_poems.close();
        } else {
          $('.progress-bar').css('width', Math.ceil(event.data)+'%').attr('aria-valuenow', Math.ceil(event.data));
          $('.progress-bar-label').text( Math.ceil(event.data)+'%');
        }
		if (Math.ceil(event.data) == 100){
        	source_poems.close();
        }
      }
    </script>
  {% elif load == 'song' %}
    <script>
      var source_songs = new EventSource("/progress_songs");
      source_songs.onmessage = function(event) {
        if (!event){
          source_songs.close();
        } else {
          $('.progress-bar').css('width', Math.ceil(event.data)+'%').attr('aria-valuenow', Math.ceil(event.data));
          $('.progress-bar-label').text( Math.ceil(event.data)+'%');
        }
	    if (Math.ceil(event.data) == 100){
          	source_songs.close();
        }
      }
    </script>
  {% endif %}
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      <span class="progress-bar-label">0%</span>
    </div>
  </div>
{% endif %}

{% if db_songs_status is none and db_poems_status is none %}

  <!-- IF DATABASE IS EMPTY -->
  <strong id="big-strong">Database is empty</strong>

{% else %}

  {% if db_songs_status is not none %}
    <strong id="big-strong">Database songs status</strong>
    <div id="index">
      <table class="table table-striped" style="max-width: 900px;">
      <thead>
        <tr>
          <th>Languages</th>
          <th id="home-col">Songs</th>
          <th id="home-col">Authors</th>
        </tr>
      </thead>
      {% for res in db_songs_status %}
        <tr>
          <td>{{ res.languages }}</td>
          <td id="home-col">{{ res.songs }}</td>
          <td id="home-col">{{ res.authors }}</td>
        </tr>
      {% endfor %}
      </table>
    </div><br>
  {% endif %}

  {% if db_poems_status is not none %}
    <strong id="big-strong">Database poems status</strong>
    <div id="index">
      <table class="table table-striped" style="max-width: 900px;">
      <thead>
        <tr>
          <th>Languages</th>
          <th id="home-col">Poems</th>
          <th id="home-col">Poets</th>
        </tr>
      </thead>
      {% for res in db_poems_status %}
        <tr>
          <td>{{ res.languages }}</td>
          <td id="home-col">{{ res.poems }}</td>
          <td id="home-col">{{ res.poets }}</td>
        </tr>
      {% endfor %}
      </table>
    </div><br>
  {% endif %}

{% endif %}

{% if (top_words or top_words is not defined) and g.user.role != 1 %}
  <strong id="big-strong">TOP 5 search words</strong>
  <div id="averages">
    <table class="table table-striped" style="max-width: 1000px;">
    <thead>
      <tr>
        <th>Word</th>
        <th id="home-col">Matches</th>
        <th id="home-col">Songs</th>
        <th id="home-col">Avg</th>
      </tr>
    </thead>
    {% for res in top_words %}
      <tr>
        <td>{{ res[0] }}</td>
        <td id="home-col">{{ res[2] }}</td>
        <td id="home-col">{{ res[1] }}</td>
        <td id="home-col">{{ res[3] }}</td>
      </tr>
    {% endfor %}
    </table><br>
  </div>
{% endif %}

{% endblock %}