{% extends "layout.html" %}

<title>LyrFreq - Stats Page (visible to those logged in)</title>

{{ error }}
{% block body %}

<h1>Statistics</h1><br>

{% for err in error %}
  <strong>{{ err }}</strong>
{% endfor %}

{% if not db_status or db_status is not defined %}

  <!-- IF DATABASE IS EMPTY -->
  <strong id="big-strong">Database is empty</strong>

{% else %}
  <strong id="big-strong">Database status</strong>
  <div id="index">
    <table class="table table-striped" style="max-width: 900px;">
    <thead>
      <tr>
        <th>Languages</th>
        <th id="home-col">Songs</th>
        <th id="home-col">Authors</th>
      </tr>
    </thead>
    {% for res in db_status %}
      <tr>
        <td>{{ res.languages }}</td>
        <td id="home-col">{{ res.songs }}</td>
        <td id="home-col">{{ res.authors }}</td>
      </tr>
    {% endfor %}
    </table>
  </div><br><br>
{% endif %}
	
{% if top_words or top_words is not defined and not g.user.admin %}
  <strong id="big-strong">TOP 5 search words</strong>
  <div id="averages">
    <table class="table table-striped" style="max-width: 1000px;">
    <thead>
      <tr>
        <th>Word</th>
        <th id="home-col">Matches</th>
        <th id="home-col">Songs</th>
        <th id="home-col">Avg</th>
      </tr>
    </thead>
    {% for res in top_words %}
      <tr>
        <td>{{ res[0] }}</td>
        <td id="home-col">{{ res[2] }}</td>
        <td id="home-col">{{ res[1] }}</td>
        <td id="home-col">{{ res[3] }}</td>
      </tr>
    {% endfor %}
    </table><br>
  </div>
{% endif %}

{% endblock %}