{% extends "layout.html" %}

<title>LyrFreq - Poet Listing Page</title>

{% block body %}

<h1>Poets</h1><br>

{% if not poets or poets is not defined %}

  <!-- IF DATABASE IS EMPTY -->
  <strong id="big-strong">Database is empty</strong>

{% else %}
<table class="table table-bordered">
  <tr>
    <th>Poet</th>
    </th>
    <th>lang</th>
  </tr>
  {% for poet in poets %}
    <tr>
      <td>
	    <a href="{{ url_for('poets_show', poet_id=poet.id) }}">{{ poet.poet }}</a>
      </td>
      <td>{{ poet.language[:2]|upper }}</td>
    </tr>
  {% endfor %}
</table><br>

{% endif %}

{% endblock %}
